/* Position of POI-radar. */

.radarContainer_left {
    position: absolute;
    top: -5%;
    left: -28%;
    width: 450px;
    height: 400px;
}

.radarContainer_right {
    position: absolute;
    top: -5%;
    right: 0%;
    width: 450px;
    height: 400px;
}
